<div class="jumbotron">
    <h1><?php echo sprintf($this->translate('Welcome to %sZFStarter%s'), '<span class="zf-green">', '</span>') ?></h1>
    <p>Login as admin: <mark>admin@mail.com:123456</mark></p>
</div>
